.iconoComp {
    width: 120px;
    height: 60px;
}
.iconoparrafo{
    color: rgb(10, 9, 9);
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}