.navbar {
    background-color: #f4f4f4;
    text-align: center;
    color: #dcd0c0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 0.5px;
}